:root {
    --text-color: #707070;
    --icon-color: #2C2D2D;
    --icon-active-color: #FFAA3B;
    --white-color: #FFFFFF;
}

* {
    box-sizing: border-box;
    color: var(--text-color);
}

html {
    scroll-padding-top: 75px;
    min-width: 360px;
    overflow-x: hidden;
}

@media screen and (max-width: 360px) {
    html {
        overflow-x: scroll;
    }
}

body {
    max-width: 1166px;
    margin: 0 auto;
    padding-bottom: 75px;
    font-family: 'Noto Sans TC', 'EnglishFont';
}

@media screen and (max-width: 576px) {
    html {
        scroll-padding-top: 44px;
    }

    body {
        padding-bottom: 0px;
    }
}



/* header */
.header {
    position: sticky;
    z-index: 100;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 75px;
    background-color: var(--white-color);
}

.header h1 {
    width: 58px;
    padding-bottom: 13px;
}

.header ul {
    display: flex;
    padding-bottom: 15px;
}

.header ul li+li {
    margin-left: 30px;
}

@media screen and (max-width: 1166px) {
    .header {
        padding: 0 20px 0 15px;
        height: 44px;
        align-items: center;
    }

    .header h1 {
        width: 43px;
        min-width: 43px;
    }

    .header h1,
    .header ul {
        padding-bottom: 0;
    }
}

/* header */

/* kv */
.kv {
    display: flex;
    justify-content: center;
    padding: 260px 0 282px;
    background-image: url('../images//kv.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, .28);
    background-position: center center;
    background-blend-mode: multiply;
    text-align: center;
    margin-bottom: 78px;
}

.kv-slogan-subTitle,
.kv-slogan-title {
    color: var(--white-color);
}

.kv-slogan-title {
    line-height: 99px;
    margin-left: 20px;
    font-size: 68px;
    letter-spacing: 25px;
}

.kv-slogan-subTitle {
    line-height: 55px;
    font-size: 36px;
    letter-spacing: 4px;
}

@media screen and (max-width: 576px) {
    .kv {
        padding: 195px 0 205px 31px;
        text-align: left;
        justify-content: flex-start;
        background-image: url('../images//kv-mb.jpg');
        background-position: center -45px;
    }

    .kv-slogan-title {
        font-size: 44px;
        letter-spacing: 13.11px;
        margin-left: 0;
        line-height: 64px;
        margin-bottom: 10px;
    }

    .kv-slogan-subTitle {
        width: 250px;
        line-height: 30px;
        font-size: 18px;
        letter-spacing: 1.8px;
    }
}

/* kv */


/* about */
.about {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 67px;
}

.about-img img {
    object-fit: cover;
    max-width: 373px;
    height: 279.5px;
}

.about-content {
    padding: 30px 0 0 32px;

}

.about-content h2 {
    font-size: 21px;
    margin-bottom: 10px;
}

.about-content p {
    font-size: 15px;
    line-height: 2;
    letter-spacing: 0.75px;
    font-weight: normal;
    white-space: pre-line;
    margin-bottom: 31px;
}

.about-content hr {
    /* 粗度為2px */
    border: 1px solid var(--text-color);
    max-width: 442px;
    margin-left: 0;
}

@media screen and (max-width: 768px) {
    .about-content h2 {
        font-size: 21px;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 576px) {
    .about {
        padding: 45px 45px 0px 45px;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-bottom: 50px;
    }

    .about-img img {
        height: 202.5px;
        margin-bottom: 25px;
    }

    .about-content {
        padding: 0;
    }

    .about-content h2 {
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }

    .about-content p {
        font-size: 14px;
        letter-spacing: 0.7px;
        white-space: initial;
        margin-bottom: 0;
    }

    .about-content hr {
        display: none;
    }
}

/* about */

/* service */
.service {
    max-width: 1040px;
    margin: 0 auto 7.8% auto;
}

.service h2 {
    font-size: 21px;
    margin-bottom: 40px;
}

.service-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4%;
}

.service-item:nth-child(n+1) {
    max-width: 500px;
}

.service-item:nth-child(n+2) {
    max-width: 500px;
}

.service-item:nth-child(2) {
    margin-top: 20%;
}


.service-item:nth-child(3) {
    margin-top: -70%;
}

@media screen and (max-width: 1166px) {
    .service h2 {
        font-size: 21px;
        padding-left: 21px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 576px) {
    .service {
        margin-bottom: 80px;
    }

    .service-group {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }
    .service .service-item {
        position: relative;
        max-width: 54%;
    }

    .service-item:nth-child(2),.service-item:nth-child(3) {
        margin-top: 0;
    }

    .service-item:nth-child(2n){
        min-width: 245px;
        margin: -40px 0 -40px auto;
    }

    .service-item:nth-child(2n+1){
        min-width: 255px;
    }

    .service-item:nth-child(1){
        z-index: 4;
    }
    .service-item:nth-child(2){
        z-index: 3;
    }
    .service-item:nth-child(3){
        z-index: 2;
    }
    .service-item:nth-child(4){
        z-index: 1;
    }
}



/* service */

/* contact */
.contact h2 {
    font-size: 21px;
    text-align: center;
    margin-bottom: 12px;
}

.contact-group {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: var(--white-color);
    ;
}

.contact-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 20px;
    margin-bottom: 5px;
}

.contact-list li a:hover svg {
    fill:var(--icon-active-color);
}



.contact-list li:nth-child(2),
.contact-list li:nth-child(3) {
    width: 22px;
}


.contact-since {
    max-width: 222px;
}

@media screen and (max-width: 576px) {
    .contact-group {
        position: static;
    }
}

/* contact */